In [1]:

import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

**Ejercicios Agrupaci√≥n**

In [24]:
df_world = pd.read_csv('files/world_data_2023_union.csv', index_col=0)
df_world.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887

In [25]:
df_world[["land_area", "armed_forces_size", "co2-emissions", "gdp", "population", "urban_population", "density", "cpi"]]

,land_area,armed_forces_size,co2-emissions,gdp,population,urban_population,density,cpi
0,"652,230","323,000","8,672","19,101,353,833","38,041,754","9,797,273",60,149.9
1,"28,748","9,000","4,536","15,278,077,447","2,854,191","1,747,593",105,119.05
2,"2,381,741","317,000","150,006","169,988,236,398","43,053,054","31,510,100",18,151.36
3,468,NaN,469,"3,154,057,987","77,142","67,873",164,NaN
4,"1,246,700","117,000","34,693","94,635,415,870","31,825,295","21,061,025",26,261.73
...,...,...,...,...,...,...,...,...
190,"912,050","343,000","164,175","482,359,318,768","28,515,829","25,162,368",32,"2,740.27"
191,"331,210","522,000","192,668","261,921,244,843","96,462,106","35,332,140",314,163.52
192,"527,968","40,000","10,609","26,914,402,224","29,161,922","10,869,523",56,157.58
193,"752,618","16,000","5,141","23,064,722,446","17,861,030","7,871,713",25,212.31
194,"390,757","51,000","10,983","21,440,758,800","14,645,468","4,717,305",38,105.51

In [26]:
df_world.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   country                                195 non-null    object
 1   density                                195 non-null    object
 2   abbreviation                           188 non-null    object
 3   agricultural_land                      188 non-null    float64
 4   land_area                              194 non-null    object
 5   armed_forces_size                      171 non-null    object
 6   birth_rate                             189 non-null    float64
 7   calling_code                           194 non-null    float64
 8   capital/major_city                     192 non-null    object
 9   co2-emissions                          188 non-null    object
 10  cpi                                    178 non-null    object
 11  cpi_change_                            179 non-null    float64
 12  currency-code                          180 non-null    object
 13  fertility_rate                         188 non-null    float64
 14  forested_area_                         188 non-null    float64
 15  gasoline_price                         175 non-null    float64
 16  gdp                                    193 non-null    object
 17  gross_primary_education_enrollment_    188 non-null    float64
 18  gross_tertiary_education_enrollment_   183 non-null    float64
 19  infant_mortality                       189 non-null    float64
 20  largest_city                           189 non-null    object
 21  life_expectancy                        187 non-null    float64
 22  maternal_mortality_ratio               181 non-null    float64
 23  minimum_wage                           150 non-null    float64
 24  official_language                      190 non-null    object
 25  out_of_pocket_health_expenditure       188 non-null    float64
 26  physicians_per_thousand                188 non-null    float64
 27  population                             194 non-null    object
 28  population_labor_force_participation_  176 non-null    float64
 29  tax_revenue_                           169 non-null    float64
 30  total_tax_rate                         183 non-null    float64
 31  unemployment_rate                      176 non-null    float64
 32  urban_population                       190 non-null    object
 33  latitude                               194 non-null    float64
 34  longitude                              194 non-null    float64
dtypes: float64(21), object(14)
memory usage: 54.8+ KB

In [27]:
# Ejercicios apply

# Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deber√≠an ser num√©ricas. 
# Crea una funci√≥n que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

def cambiar_numerico(columna):
    
    try :
        return float(columna.replace(",", ""))
    
    except: 
        return np.nan

In [28]:
lista_columnas = ["land_area", "armed_forces_size", "co2-emissions", "gdp", "population", "urban_population", "density", "cpi"]

In [29]:
for col in lista_columnas:
    df_world[col] = df_world[col].apply(cambiar_numerico)

In [30]:
df_world["armed_forces_size"].dtype

dtype('float64')

In [31]:
df_world[["land_area", "armed_forces_size", "co2-emissions", "gdp", "population", "urban_population", "density", "cpi"]]

,land_area,armed_forces_size,co2-emissions,gdp,population,urban_population,density,cpi
0,652230.0,323000.0,8672.0,1.910135e+10,38041754.0,9797273.0,60.0,149.90
1,28748.0,9000.0,4536.0,1.527808e+10,2854191.0,1747593.0,105.0,119.05
2,2381741.0,317000.0,150006.0,1.699882e+11,43053054.0,31510100.0,18.0,151.36
3,468.0,NaN,469.0,3.154058e+09,77142.0,67873.0,164.0,NaN
4,1246700.0,117000.0,34693.0,9.463542e+10,31825295.0,21061025.0,26.0,261.73
...,...,...,...,...,...,...,...,...
190,912050.0,343000.0,164175.0,4.823593e+11,28515829.0,25162368.0,32.0,2740.27
191,331210.0,522000.0,192668.0,2.619212e+11,96462106.0,35332140.0,314.0,163.52
192,527968.0,40000.0,10609.0,2.691440e+10,29161922.0,10869523.0,56.0,157.58
193,752618.0,16000.0,5141.0,2.306472e+10,17861030.0,7871713.0,25.0,212.31
194,390757.0,51000.0,10983.0,2.144076e+10,14645468.0,4717305.0,38.0,105.51

In [32]:
df_world['gdp']

0      1.910135e+10
1      1.527808e+10
2      1.699882e+11
3      3.154058e+09
4      9.463542e+10
           ...
190    4.823593e+11
191    2.619212e+11
192    2.691440e+10
193    2.306472e+10
194    2.144076e+10
Name: gdp, Length: 195, dtype: float64

In [33]:
df_world.columns

Index(['country', 'density', 'abbreviation', 'agricultural_land', 'land_area',
       'armed_forces_size', 'birth_rate', 'calling_code', 'capital/major_city',
       'co2-emissions', 'cpi', 'cpi_change_', 'currency-code',
       'fertility_rate', 'forested_area_', 'gasoline_price', 'gdp',
       'gross_primary_education_enrollment_',
       'gross_tertiary_education_enrollment_', 'infant_mortality',
       'largest_city', 'life_expectancy', 'maternal_mortality_ratio',
       'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure',
       'physicians_per_thousand', 'population',
       'population_labor_force_participation_', 'tax_revenue_',
       'total_tax_rate', 'unemployment_rate', 'urban_population', 'latitude',
       'longitude'],
      dtype='object')

In [34]:
df_world["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'SÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩ', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
       'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [35]:
df_filtrado = df_world[df_world['country'].str.startswith('S')]
df_filtrado

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
145,Saint Kitts and Nevis,205.0,KN,23.1,261.0,NaN,12.60,1.0,Basseterre,238.0,104.57,-1.0,XCD,2.11,42.3,NaN,1.050993e+09,108.7,86.7,9.8,Basseterre,71.3,NaN,3.33,English,56.6,2.52,52823.0,NaN,18.5,49.7,NaN,16269.0,17.357822,-62.782998
146,Saint Lucia,301.0,LC,17.4,616.0,NaN,12.00,1.0,Castries,414.0,110.13,1.9,XCD,1.44,33.2,1.30,2.122451e+09,102.6,14.1,14.9,Castries,76.1,117.0,NaN,English,48.4,0.64,182790.0,67.1,18.2,34.7,20.71,34280.0,13.909444,-60.978893
147,Saint Vincent and the Grenadines,284.0,VC,25.6,389.0,NaN,14.24,1.0,Kingstown,220.0,109.67,2.3,XCD,1.89,69.2,NaN,8.253852e+08,113.4,23.7,14.8,Calliaqua,72.4,68.0,1.16,English,21.4,0.66,100455.0,65.9,25.4,37.0,18.88,58185.0,12.984305,-61.287228
148,Samoa,70.0,WS,12.4,2831.0,NaN,24.38,685.0,Apia,246.0,117.56,1.0,WST,3.88,60.4,0.91,8.506550e+08,110.5,7.6,13.6,Apia,73.2,43.0,0.78,Samoan,11.5,0.34,202506.0,43.7,25.5,19.3,8.36,35588.0,-13.759029,-172.104629
149,San Marino,566.0,SM,16.7,61.0,NaN,6.80,378.0,City of San Marino,NaN,110.63,1.0,EUR,1.26,0.0,NaN,1.637931e+09,108.1,42.5,1.7,City of San Marino,85.4,NaN,NaN,Italian,18.3,6.11,33860.0,NaN,18.1,36.2,NaN,32969.0,43.942360,12.457777
150,SÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩ,228.0,ST,50.7,964.0,1000.0,31.54,239.0,SÔøΩÔøΩÔøΩÔøΩ,121.0,185.09,7.9,STN,4.32,55.8,NaN,4.290166e+08,106.8,13.4,24.4,SÔøΩÔøΩÔøΩÔøΩ,70.2,130.0,NaN,NaN,11.7,0.05,215056.0,57.8,14.6,37.0,13.37,158277.0,NaN,NaN
151,Saudi Arabia,16.0,SA,80.8,2149690.0,252000.0,17.80,966.0,Riyadh,563449.0,118.40,-1.2,SAR,2.32,0.5,0.24,7.929668e+11,99.8,68.0,6.0,Riyadh,75.0,17.0,3.85,Arabic,15.0,2.61,34268528.0,55.9,8.9,15.7,5.93,28807838.0,23.885942,45.079162
152,Senegal,87.0,SN,46.1,196722.0,19000.0,34.52,221.0,Dakar,10902.0,109.25,1.8,XOF,4.63,42.8,1.14,2.357808e+10,81.0,12.8,31.8,Pikine,67.7,315.0,0.31,French,44.2,0.07,16296364.0,45.7,16.3,44.8,6.60,7765706.0,14.497401,-14.452362
153,Serbia,100.0,RS,39.3,77474.0,32000.0,9.20,381.0,Belgrade,45221.0,144.00,1.8,RSD,1.49,31.1,1.16,5.140917e+10,100.3,67.2,4.8,Belgrade,75.5,12.0,1.57,Serbian,40.6,3.11,6944975.0,54.9,18.6,36.6,12.69,3907243.0,44.016521,21.005859
154,Seychelles,214.0,SC,3.4,455.0,0.0,17.10,248.0,"Victoria, Seychelles",605.0,129.96,1.8,SCR,2.41,88.4,NaN,1.698843e+09,100.4,17.1,12.4,"Victoria, Seychelles",72.8,53.0,2.00,French,2.5,0.95,97625.0,NaN,34.1,30.1,NaN,55762.0,-4.679574,55.491977
155,Sierra Leone,111.0,SL,54.7,71740.0,9000.0,33.41,232.0,Freetown,1093.0,234.16,14.8,SLL,4.26,43.1,1.08,3.941474e+09,112.8,2.0,78.5,Freetown,54.3,1120.0,0.57,English,38.2,0.03,7813215.0,57.9,8.6,30.7,4.43,3319366.0,8.460555,-11.779889
156,Singapore,8358.0,SG,0.9,716.0,81000.0,8.80,65.0,NaN,37535.0,114.41,0.6,SGD,1.14,23.1,1.25,3.720625e+11,100.6,84.8,2.3,NaN,83.1,8.0,NaN,Malay,36.7,2.29,5703569.0,70.5,13.1,21.0,4.11,5703569.0,1.352083,103.819836
157,Slovakia,114.0,SK,39.2,49035.0,16000.0,10.60,421.0,Bratislava,32424.0,115.34,2.7,EUR,1.52,40.4,1.32,1.054223e+11,98.7,46.6,4.6,Bratislava,77.2,5.0,3.11,Slovak,18.4,3.42,5454073.0,59.5,18.7,49.7,5.56,2930419.0,48.669026,19.699024
158,Slovenia,103.0,SI,30.7,20273.0,7000.0,9.40,386.0,Ljubljana,12633.0,111.05,1.6,EUR,1.60,62.0,1.32,5.374216e+10,100.4,78.6,1.7,Ljubljana,81.0,7.0,5.25,Slovene language,12.5,3.09,2087946.0,58.4,18.6,31.0,4.20,1144654.0,46.151241,14.995463
159,Solomon Islands,25.0,SB,3.9,28896.0,NaN,32.44,677.0,Honiara,169.0,133.06,1.6,SBD,4.40,77.9,NaN,1.425074e+09,106.2,NaN,17.1,Honiara,72.8,104.0,0.40,English,3.3,0.19,669823.0,83.8,29.5,32.0,0.58,162164.0,-9.645710,160.156194
160,Somalia,25.0,SO,70.3,637657.0,20000.0,41.75,252.0,Mogadishu,645.0,NaN,NaN,SOS,6.07,10.0,1.41,4.720727e+09,23.4,2.5,76.6,Bosaso,57.1,829.0,NaN,Arabic,NaN,0.02,15442905.0,47.4,0.0,NaN,11.35,7034861.0,5.152149,46.199616
161,South Africa,49.0,ZA,79.8,1219090.0,80000.0,20.51,27.0,Pretoria,476644.0,158.93,4.1,ZAR,2.41,7.6,0.92,3.514316e+11,100.9,22.4,28.5,Johannesburg,63.9,119.0,NaN,Afrikaans,7.7,0.91,58558270.0,56.0,27.5,29.2,28.18,39149717.0,-30.559482,22.937506
162,South Korea,527.0,KR,17.4,99720.0,634000.0,6.40,82.0,Seoul,620302.0,115.16,0.4,KRW,0.98,63.4,1.22,2.029000e+12,98.1,94.3,2.7,Seoul,82.6,11.0,6.49,Korean,36.8,2.36,51709098.0,63.0,15.6,33.2,4.15,42106719.0,35.907757,127.766922
163,South Sudan,18.0,SS,NaN,644329.0,185000.0,35.01,211.0,Juba,1727.0,4583.71,187.9,SSP,4.70,NaN,0.28,1.199780e+10,73.0,NaN,63.7,Juba,57.6,1150.0,NaN,English,61.3,NaN,11062113.0,72.4,NaN,31.4,12.24,2201250.0,6.876992,31.306979
164,Spain,94.0,ES,52.6,505370.0,196000.0,7.90,34.0,Madrid,244002.0,110.96,0.7,EUR,1.26,36.9,1.26,1.394116e+12,102.7,88.9,2.5,Madrid,83.3,4.0,5.60,Spanish,24.2,3.87,47076781.0,57.5,14.2,47.0,13.96,37927409.0,40.463667,-3.749220
165,Sri Lanka,341.0,LK,43.7,65610.0,317000.0,15.83,94.0,Colombo,23362.0,155.53,3.5,LKR,2.20,32.9,0.88,8.400878e+10,100.2,19.6,6.4,Colombo,76.8,36.0,0.35,Tamil,38.4,1.00,21803000.0,53.9,11.9,55.2,4.20,4052088.0,7.873054,80.771797
166,Sudan,25.0,SD,28.7,1861484.0,124000.0,32.18,249.0,Khartoum,20000.0,1344.19,51.0,SDG,4.41,8.1,0.95,1.890228e+10,76.8,16.9,42.1,Omdurman,65.1,295.0,0.41,Arabic,63.2,0.26,42813238.0,48.4,8.0,45.4,16.53,14957233.0,12.862807,30.217636
167,Suriname,4.0,SR,0.6,163820.0,2000.0,18.54,597.0,Paramaribo,1738.0,294.66,22.0,SRD,2.42,98.3,1.29,3.985251e+09,108.8,12.6,16.9,Paramaribo,71.6,120.0,NaN,Dutch,10.1,1.21,581372.0,51.1,19.5,27.9,7.33,384258.0,3.919305,-56.027783
168,Sweden,25.0,SE,7.4,450295.0,30000.0,11.40,46.0,Stockholm,43252.0,110.51,1.8,SEK,1.76,68.9,1.42,5.308329e+11,126.6,67.0,2.2,SÔøΩÔøΩÔøΩÔøΩÔøΩ,82.5,4.0,NaN,Swedish,15.2,3.98,10285453.0,64.6,27.9,49.1,6.48,9021165.0,60.128161,18.643501
169,Switzerland,219.0,CH,38.4,41277.0,21000.0,10.00,41.0,Bern,34477.0,99.55,0.4,CHF,1.52,31.8,1.45,7.030824e+11,105.2,59.6,3.7,ZÔøΩÔøΩÔøΩ,83.6,5.0,NaN,German,28.3,4.30,8574832.0,68.3,10.1,28.8,4.58,6332428.0,46.818188,8.227512
170,Syria,95.0,SY,75.8,185180.0,239000.0,23.69,963.0,Damascus,28830.0,143.20,36.7,SYP,2.81,2.7,0.83,4.040501e+10,81.7,40.1,14.0,Damascus,71.8,31.0,1.02,Arabic,53.7,1.22,17070135.0,44.1,14.2,42.7,8.37,9358019.0,34.802075,38.996815

In [36]:
cambiar_fila_150 = 150

nuevos_cambios = {"country": "Santo Tom√© y Pr√≠ncipe", "capital/major_city": "Santo Tom√©" , "largest_city":"Santo Tom√©"}

In [37]:
df_world.loc[cambiar_fila_150,nuevos_cambios.keys()] = nuevos_cambios.values()

In [38]:
df_filtrado = df_world[df_world['country'].str.startswith('S')]
df_filtrado

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
145,Saint Kitts and Nevis,205.0,KN,23.1,261.0,NaN,12.60,1.0,Basseterre,238.0,104.57,-1.0,XCD,2.11,42.3,NaN,1.050993e+09,108.7,86.7,9.8,Basseterre,71.3,NaN,3.33,English,56.6,2.52,52823.0,NaN,18.5,49.7,NaN,16269.0,17.357822,-62.782998
146,Saint Lucia,301.0,LC,17.4,616.0,NaN,12.00,1.0,Castries,414.0,110.13,1.9,XCD,1.44,33.2,1.30,2.122451e+09,102.6,14.1,14.9,Castries,76.1,117.0,NaN,English,48.4,0.64,182790.0,67.1,18.2,34.7,20.71,34280.0,13.909444,-60.978893
147,Saint Vincent and the Grenadines,284.0,VC,25.6,389.0,NaN,14.24,1.0,Kingstown,220.0,109.67,2.3,XCD,1.89,69.2,NaN,8.253852e+08,113.4,23.7,14.8,Calliaqua,72.4,68.0,1.16,English,21.4,0.66,100455.0,65.9,25.4,37.0,18.88,58185.0,12.984305,-61.287228
148,Samoa,70.0,WS,12.4,2831.0,NaN,24.38,685.0,Apia,246.0,117.56,1.0,WST,3.88,60.4,0.91,8.506550e+08,110.5,7.6,13.6,Apia,73.2,43.0,0.78,Samoan,11.5,0.34,202506.0,43.7,25.5,19.3,8.36,35588.0,-13.759029,-172.104629
149,San Marino,566.0,SM,16.7,61.0,NaN,6.80,378.0,City of San Marino,NaN,110.63,1.0,EUR,1.26,0.0,NaN,1.637931e+09,108.1,42.5,1.7,City of San Marino,85.4,NaN,NaN,Italian,18.3,6.11,33860.0,NaN,18.1,36.2,NaN,32969.0,43.942360,12.457777
150,Santo Tom√© y Pr√≠ncipe,228.0,ST,50.7,964.0,1000.0,31.54,239.0,Santo Tom√©,121.0,185.09,7.9,STN,4.32,55.8,NaN,4.290166e+08,106.8,13.4,24.4,Santo Tom√©,70.2,130.0,NaN,NaN,11.7,0.05,215056.0,57.8,14.6,37.0,13.37,158277.0,NaN,NaN
151,Saudi Arabia,16.0,SA,80.8,2149690.0,252000.0,17.80,966.0,Riyadh,563449.0,118.40,-1.2,SAR,2.32,0.5,0.24,7.929668e+11,99.8,68.0,6.0,Riyadh,75.0,17.0,3.85,Arabic,15.0,2.61,34268528.0,55.9,8.9,15.7,5.93,28807838.0,23.885942,45.079162
152,Senegal,87.0,SN,46.1,196722.0,19000.0,34.52,221.0,Dakar,10902.0,109.25,1.8,XOF,4.63,42.8,1.14,2.357808e+10,81.0,12.8,31.8,Pikine,67.7,315.0,0.31,French,44.2,0.07,16296364.0,45.7,16.3,44.8,6.60,7765706.0,14.497401,-14.452362
153,Serbia,100.0,RS,39.3,77474.0,32000.0,9.20,381.0,Belgrade,45221.0,144.00,1.8,RSD,1.49,31.1,1.16,5.140917e+10,100.3,67.2,4.8,Belgrade,75.5,12.0,1.57,Serbian,40.6,3.11,6944975.0,54.9,18.6,36.6,12.69,3907243.0,44.016521,21.005859
154,Seychelles,214.0,SC,3.4,455.0,0.0,17.10,248.0,"Victoria, Seychelles",605.0,129.96,1.8,SCR,2.41,88.4,NaN,1.698843e+09,100.4,17.1,12.4,"Victoria, Seychelles",72.8,53.0,2.00,French,2.5,0.95,97625.0,NaN,34.1,30.1,NaN,55762.0,-4.679574,55.491977
155,Sierra Leone,111.0,SL,54.7,71740.0,9000.0,33.41,232.0,Freetown,1093.0,234.16,14.8,SLL,4.26,43.1,1.08,3.941474e+09,112.8,2.0,78.5,Freetown,54.3,1120.0,0.57,English,38.2,0.03,7813215.0,57.9,8.6,30.7,4.43,3319366.0,8.460555,-11.779889
156,Singapore,8358.0,SG,0.9,716.0,81000.0,8.80,65.0,NaN,37535.0,114.41,0.6,SGD,1.14,23.1,1.25,3.720625e+11,100.6,84.8,2.3,NaN,83.1,8.0,NaN,Malay,36.7,2.29,5703569.0,70.5,13.1,21.0,4.11,5703569.0,1.352083,103.819836
157,Slovakia,114.0,SK,39.2,49035.0,16000.0,10.60,421.0,Bratislava,32424.0,115.34,2.7,EUR,1.52,40.4,1.32,1.054223e+11,98.7,46.6,4.6,Bratislava,77.2,5.0,3.11,Slovak,18.4,3.42,5454073.0,59.5,18.7,49.7,5.56,2930419.0,48.669026,19.699024
158,Slovenia,103.0,SI,30.7,20273.0,7000.0,9.40,386.0,Ljubljana,12633.0,111.05,1.6,EUR,1.60,62.0,1.32,5.374216e+10,100.4,78.6,1.7,Ljubljana,81.0,7.0,5.25,Slovene language,12.5,3.09,2087946.0,58.4,18.6,31.0,4.20,1144654.0,46.151241,14.995463
159,Solomon Islands,25.0,SB,3.9,28896.0,NaN,32.44,677.0,Honiara,169.0,133.06,1.6,SBD,4.40,77.9,NaN,1.425074e+09,106.2,NaN,17.1,Honiara,72.8,104.0,0.40,English,3.3,0.19,669823.0,83.8,29.5,32.0,0.58,162164.0,-9.645710,160.156194
160,Somalia,25.0,SO,70.3,637657.0,20000.0,41.75,252.0,Mogadishu,645.0,NaN,NaN,SOS,6.07,10.0,1.41,4.720727e+09,23.4,2.5,76.6,Bosaso,57.1,829.0,NaN,Arabic,NaN,0.02,15442905.0,47.4,0.0,NaN,11.35,7034861.0,5.152149,46.199616
161,South Africa,49.0,ZA,79.8,1219090.0,80000.0,20.51,27.0,Pretoria,476644.0,158.93,4.1,ZAR,2.41,7.6,0.92,3.514316e+11,100.9,22.4,28.5,Johannesburg,63.9,119.0,NaN,Afrikaans,7.7,0.91,58558270.0,56.0,27.5,29.2,28.18,39149717.0,-30.559482,22.937506
162,South Korea,527.0,KR,17.4,99720.0,634000.0,6.40,82.0,Seoul,620302.0,115.16,0.4,KRW,0.98,63.4,1.22,2.029000e+12,98.1,94.3,2.7,Seoul,82.6,11.0,6.49,Korean,36.8,2.36,51709098.0,63.0,15.6,33.2,4.15,42106719.0,35.907757,127.766922
163,South Sudan,18.0,SS,NaN,644329.0,185000.0,35.01,211.0,Juba,1727.0,4583.71,187.9,SSP,4.70,NaN,0.28,1.199780e+10,73.0,NaN,63.7,Juba,57.6,1150.0,NaN,English,61.3,NaN,11062113.0,72.4,NaN,31.4,12.24,2201250.0,6.876992,31.306979
164,Spain,94.0,ES,52.6,505370.0,196000.0,7.90,34.0,Madrid,244002.0,110.96,0.7,EUR,1.26,36.9,1.26,1.394116e+12,102.7,88.9,2.5,Madrid,83.3,4.0,5.60,Spanish,24.2,3.87,47076781.0,57.5,14.2,47.0,13.96,37927409.0,40.463667,-3.749220
165,Sri Lanka,341.0,LK,43.7,65610.0,317000.0,15.83,94.0,Colombo,23362.0,155.53,3.5,LKR,2.20,32.9,0.88,8.400878e+10,100.2,19.6,6.4,Colombo,76.8,36.0,0.35,Tamil,38.4,1.00,21803000.0,53.9,11.9,55.2,4.20,4052088.0,7.873054,80.771797
166,Sudan,25.0,SD,28.7,1861484.0,124000.0,32.18,249.0,Khartoum,20000.0,1344.19,51.0,SDG,4.41,8.1,0.95,1.890228e+10,76.8,16.9,42.1,Omdurman,65.1,295.0,0.41,Arabic,63.2,0.26,42813238.0,48.4,8.0,45.4,16.53,14957233.0,12.862807,30.217636
167,Suriname,4.0,SR,0.6,163820.0,2000.0,18.54,597.0,Paramaribo,1738.0,294.66,22.0,SRD,2.42,98.3,1.29,3.985251e+09,108.8,12.6,16.9,Paramaribo,71.6,120.0,NaN,Dutch,10.1,1.21,581372.0,51.1,19.5,27.9,7.33,384258.0,3.919305,-56.027783
168,Sweden,25.0,SE,7.4,450295.0,30000.0,11.40,46.0,Stockholm,43252.0,110.51,1.8,SEK,1.76,68.9,1.42,5.308329e+11,126.6,67.0,2.2,SÔøΩÔøΩÔøΩÔøΩÔøΩ,82.5,4.0,NaN,Swedish,15.2,3.98,10285453.0,64.6,27.9,49.1,6.48,9021165.0,60.128161,18.643501
169,Switzerland,219.0,CH,38.4,41277.0,21000.0,10.00,41.0,Bern,34477.0,99.55,0.4,CHF,1.52,31.8,1.45,7.030824e+11,105.2,59.6,3.7,ZÔøΩÔøΩÔøΩ,83.6,5.0,NaN,German,28.3,4.30,8574832.0,68.3,10.1,28.8,4.58,6332428.0,46.818188,8.227512
170,Syria,95.0,SY,75.8,185180.0,239000.0,23.69,963.0,Damascus,28830.0,143.20,36.7,SYP,2.81,2.7,0.83,4.040501e+10,81.7,40.1,14.0,Damascus,71.8,31.0,1.02,Arabic,53.7,1.22,17070135.0,44.1,14.2,42.7,8.37,9358019.0,34.802075,38.996815

In [39]:
df_world["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Santo Tom√© y Pr√≠ncipe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Tanzania', 'Thailand', 'East Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [40]:
def asignar_continentes(pais):

    continentes_paises = {
    '√Åfrica': ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cape Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Santo Tom√© y Pr√≠ncipe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'],
    'Am√©rica': ['Antigua and Barbuda', 'Argentina', 'The Bahamas', 'Barbados', 'Belize', 'Bolivia', 'Brazil', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Grenada', 'Guatemala', 'Guyana', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Suriname', 'Trinidad and Tobago', 'United States', 'Uruguay', 'Venezuela'],
    'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'East Timor', 'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestinian National Authority', 'Philippines', 'Qatar', 'Russia', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'],
    'Europa': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Republic of Ireland', 'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom', 'Vatican City'],
    'Ocean√≠a': ['Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Federated States of Micronesia', 'Nauru', 'New Zealand', 'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']
}
     
    for continente, lista_paises in continentes_paises.items():
        if pais in lista_paises:
            return continente
    return "Desconocido"

In [41]:
df_world['Continent'] = df_world['country'].apply(asignar_continentes)

In [42]:
df_world['Continent']

0         Asia
1       Europa
2       √Åfrica
3       Europa
4       √Åfrica
        ...
190    Am√©rica
191       Asia
192       Asia
193     √Åfrica
194     √Åfrica
Name: Continent, Length: 195, dtype: object

In [43]:
df_world.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,Continent
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europa
2,Algeria,18.0,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626,√Åfrica
3,Andorra,164.0,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europa
4,Angola,26.0,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,√Åfrica

In [44]:
# Guarda el DataFrame despu√©s de los cambios creados despu√©s de los dos ejercicios anteriores para usarlo en el pairprogramming de ma√±ana.

df_world.to_csv("files/world_data.csv")

In [45]:
df_world = pd.read_csv('files/world_data.csv', index_col=0)
df_world.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,Continent
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europa
2,Algeria,18.0,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626,√Åfrica
3,Andorra,164.0,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europa
4,Angola,26.0,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,√Åfrica

1- ¬øCu√°l es la densidad de poblaci√≥n promedio por continente?

In [9]:
densidad = df_world.groupby("Continent")["density"].mean()

densidad.reset_index()

     Continent     density
0      Am√©rica  132.657143
1         Asia  428.833333
2  Desconocido  460.250000
3       Europa  834.166667
4      Ocean√≠a  138.923077
5       √Åfrica  106.792453


2- ¬øCu√°l es la esperanza de vida promedio por idioma oficial? Agrupa los pa√≠ses por idioma oficial y calcula la esperanza de vida promedio.

In [11]:
esperanza_idioma = df_world.groupby("official_language")["life_expectancy"].mean().round(2)

esperanza_idioma.reset_index()

    official_language  life_expectancy
0           Afrikaans            63.90
1            Albanian            78.50
2             Amharic            66.20
3              Arabic            72.86
4            Armenian            74.90
..                ...              ...
71  Tuvaluan Language              NaN
72          Ukrainian            71.60
73               Urdu            67.10
74              Uzbek            71.60
75         Vietnamese            75.30

[76 rows x 2 columns]

3- ¬øCu√°l es la tasa de mortalidad infantil promedio por moneda?

In [14]:
mortalidad_moneda = df_world.groupby("currency-code")["infant_mortality"].mean().round(2)
mortalidad_moneda.reset_index()

    currency-code  infant_mortality
0             AED              6.50
1             AFN             47.90
2             ALL              7.80
3             AMD             11.00
4             AOA             51.60
..            ...               ...
128           XCD             15.18
129           XOF             51.51
130           YER             42.90
131           ZAR             28.50
132           ZMW             40.40

[133 rows x 2 columns]

4- ¬øCu√°l es el salario m√≠nimo por continente?

In [46]:
salario = df_world.groupby("Continent")["minimum_wage"].mean().round(2)
salario.reset_index()

  Continent  minimum_wage
0   Am√©rica          2.03
1      Asia          1.45
2    Europa          4.92
3   Ocean√≠a          3.92
4    √Åfrica          0.53

5- ¬øCu√°l es la tasa de impuestos total m√°xima por densidad de poblaci√≥n por continente? Para solucionar este ejercicio puedes:   
    - Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".   
    - Luego, calcula la densidad de poblaci√≥n para cada continente. La densidad de poblaci√≥n se encuentra en la columna "density".   
    - Ahora, divide la tasa de impuestos total entre la densidad de poblaci√≥n para obtener la tasa de impuestos total por persona por kil√≥metro cuadrado.   
    - Encuentra el pa√≠s que tiene el valor m√°s alto en esta nueva columna calculada.

In [47]:
tasa_continente = df_world.groupby('Continent')['total_tax_rate'].sum()
tasa_continente.reset_index()

  Continent  total_tax_rate
0   Am√©rica          1535.5
1      Asia          1487.8
2    Europa          1499.7
3   Ocean√≠a           474.2
4    √Åfrica          2473.3

In [48]:
densidad_continente = df_world.groupby('Continent')['density'].sum()
densidad_continente.reset_index()

  Continent  density
0   Am√©rica   4643.0
1      Asia  21431.0
2    Europa  35107.0
3   Ocean√≠a   2590.0
4    √Åfrica   5798.0

In [52]:
impuesto_persona = tasa_continente / densidad_continente
df_impuesto_persona = pd.DataFrame(impuesto_persona, columns = ["impuestos_km"])
df_impuesto_persona

           impuestos_km
Continent
Am√©rica        0.330713
Asia           0.069423
Europa         0.042718
Ocean√≠a        0.183089
√Åfrica         0.426578

In [68]:
maximo_impuesto = df_impuesto_persona['impuestos_km'].idxmax()
maximo_impuesto

'√Åfrica'

6- ¬øCu√°l es el porcentaje de poblaci√≥n urbana promedio por continente?

In [59]:
poblacion_continente = df_world.groupby('Continent')['urban_population'].mean().round(2)
poblacion_continente.reset_index()

  Continent  urban_population
0   Am√©rica       23445710.00
1      Asia       49569307.44
2    Europa       10924345.63
3   Ocean√≠a        2171335.85
4    √Åfrica       10600208.81

7- ¬øCu√°l es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:   
    - Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

In [60]:
pib_gasto = df_world.groupby("official_language")[["gdp", "out_of_pocket_health_expenditure"]].mean().round(2)

pib_gasto.reset_index()

    official_language           gdp  out_of_pocket_health_expenditure
0           Afrikaans  3.514316e+11                               7.7
1            Albanian  1.527808e+10                              56.9
2             Amharic  9.610766e+10                              37.8
3              Arabic  1.366153e+11                              38.0
4            Armenian  1.367280e+10                              81.6
..                ...           ...                               ...
71  Tuvaluan Language  4.727146e+07                               0.7
72          Ukrainian  1.537811e+11                              47.8
73               Urdu  3.044000e+11                              66.5
74              Uzbek  5.792129e+10                              42.7
75         Vietnamese  2.619212e+11                              43.5

[76 rows x 3 columns]

In [61]:
pib_gasto["diferencia"] = pib_gasto["gdp"] - pib_gasto["out_of_pocket_health_expenditure"]

pib_gasto

,gdp,out_of_pocket_health_expenditure,diferencia
official_language,,,
Afrikaans,3.514316e+11,7.7,3.514316e+11
Albanian,1.527808e+10,56.9,1.527808e+10
Amharic,9.610766e+10,37.8,9.610766e+10
Arabic,1.366153e+11,38.0,1.366153e+11
Armenian,1.367280e+10,81.6,1.367280e+10
...,...,...,...
Tuvaluan Language,4.727146e+07,0.7,4.727146e+07
Ukrainian,1.537811e+11,47.8,1.537811e+11
Urdu,3.044000e+11,66.5,3.044000e+11
Uzbek,5.792129e+10,42.7,5.792129e+10
Vietnamese,2.619212e+11,43.5,2.619212e+11

8- ¬øCu√°l es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deber√°s:   
    - Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.   
    - Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.   
    - Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relaci√≥n entre ambas tasas.   
    - Encuentra el pa√≠s con la tasa de maternidad m√°s alta por punto porcentual de tasa de impuestos total.

In [63]:
maternidad_continente = df_world.groupby('Continent')['maternal_mortality_ratio'].mean().round(2)
maternidad_continente.reset_index()

  Continent  maternal_mortality_ratio
0   Am√©rica                     80.15
1      Asia                     74.96
2    Europa                      7.49
3   Ocean√≠a                     64.50
4    √Åfrica                    412.57

In [64]:
impuesto_continente = df_world.groupby('Continent')['total_tax_rate'].mean().round(2)
impuesto_continente.reset_index()

  Continent  total_tax_rate
0   Am√©rica           45.16
1      Asia           32.34
2    Europa           38.45
3   Ocean√≠a           39.52
4    √Åfrica           47.56

In [69]:
impuesto_maternidad= maternidad_continente / impuesto_continente
df_impuesto_maternidad = pd.DataFrame(impuesto_maternidad, columns = ["diferencia"])
df_impuesto_maternidad

           diferencia
Continent
Am√©rica      1.774801
Asia         2.317873
Europa       0.194798
Ocean√≠a      1.632085
√Åfrica       8.674727

In [71]:
maximo = df_impuesto_maternidad ['diferencia'].idxmax()
maximo

'√Åfrica'