In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

**Ejercicios Uni√≥n de Datos**

In [2]:
df_worl2 = pd.read_csv('files/world-data-2023_part2.csv', index_col=0)
df_worl2.head()

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"

In [5]:
df_worl1 = pd.read_csv('files/world-data-2023_part1.csv', index_col=0)
df_worl1.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

In [10]:
list(df_worl1.columns)

['Country',
 'Density\n(P/Km2)',
 'Abbreviation',
 'Agricultural Land( %)',
 'Land Area(Km2)',
 'Armed Forces size',
 'Birth Rate',
 'Calling Code',
 'Capital/Major City',
 'Co2-Emissions',
 'CPI',
 'CPI Change (%)',
 'Currency-Code',
 'Fertility Rate',
 'Forested Area (%)',
 'Gasoline Price']

In [9]:
list(df_worl2.columns)

['GDP',
 'Gross primary education enrollment (%)',
 'Gross tertiary education enrollment (%)',
 'Infant mortality',
 'Largest city',
 'Life expectancy',
 'Maternal mortality ratio',
 'Minimum wage',
 'Official language',
 'Out of pocket health expenditure',
 'Physicians per thousand',
 'Population',
 'Population: Labor force participation (%)',
 'Tax revenue (%)',
 'Total tax rate',
 'Unemployment rate',
 'Urban_population',
 'country',
 'coordinates']

In [11]:
df_worl1['Country']

0      Afghanistan
1          Albania
2          Algeria
3          Andorra
4           Angola
          ...
190      Venezuela
191        Vietnam
192          Yemen
193         Zambia
194       Zimbabwe
Name: Country, Length: 195, dtype: object

In [12]:
df_worl2['country']

0      Afghanistan
1          Albania
2          Algeria
3          Andorra
4           Angola
          ...
190      Venezuela
191        Vietnam
192          Yemen
193         Zambia
194       Zimbabwe
Name: country, Length: 195, dtype: object

In [14]:
#Unir los DataFrames

df_union = df_worl1.merge(df_worl2, how='inner', left_on='Country', right_on='country')
df_union

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

Hemos elegido la opci√≥n de merge 'inner', por que quer√≠amos combinar los DataFrames por su clave en com√∫n por columna, conservando sus datos.

**Ejercicios de Limpieza**

1- Despu√©s de la uni√≥n de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [ ]:
df_union.drop(['country'], axis=1, inplace=True)

In [ ]:
df_union.head(1)

2- Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:   
    - No tengan espacios.   
    - Est√©n en min√∫scula.   
    - No tengan par√©ntesis, es decir, quitar "(%)", "(Km2)".   
    - Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.   
    - Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [21]:
#Que no tengan espacios y est√© en min√∫sculas

col_nuevas = {col : col.lower().replace(' ', '_') for col in df_union.columns}
df_union.rename(columns= col_nuevas, inplace= True)

In [25]:
#Quitar par√©ntesis

col_parentesis = {col : col.replace('(', '') for col in df_union.columns}
df_union.rename(columns= col_parentesis, inplace= True)

In [42]:
col_parentesis = {col : col.replace(')', '') for col in df_union.columns}
df_union.rename(columns= col_parentesis, inplace= True)

In [27]:
#Eliminar \n

col_n = {col : col.replace('\n', '') for col in df_union.columns}
df_union.rename(columns= col_n, inplace= True)

In [29]:
#Eliminar :

col_puntos = {col : col.replace(':', '') for col in df_union.columns}
df_union.rename(columns= col_puntos, inplace= True)

In [47]:
list(df_union.columns)

['country',
 'densityp/km2',
 'abbreviation',
 'agricultural_land_%',
 'land_areakm2',
 'armed_forces_size',
 'birth_rate',
 'calling_code',
 'capital/major_city',
 'co2-emissions',
 'cpi',
 'cpi_change_%',
 'currency-code',
 'fertility_rate',
 'forested_area_%',
 'gasoline_price',
 'gdp',
 'gross_primary_education_enrollment_%',
 'gross_tertiary_education_enrollment_%',
 'infant_mortality',
 'largest_city',
 'life_expectancy',
 'maternal_mortality_ratio',
 'minimum_wage',
 'official_language',
 'out_of_pocket_health_expenditure',
 'physicians_per_thousand',
 'population',
 'population_labor_force_participation_%',
 'tax_revenue_%',
 'total_tax_rate',
 'unemployment_rate',
 'urban_population',
 'latitude',
 'longitude']

3- La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [32]:
df_union['coordinates']

0        ('33.93911 ', '67.709953')
1       ('41.153332 ', '20.168331')
2        ('28.033886 ', '1.659626')
3        ('42.506285 ', '1.521801')
4      ('-11.202692 ', '17.873887')
                   ...
190       ('6.42375 ', '-66.58973')
191    ('14.058324 ', '108.277199')
192     ('15.552727 ', '48.516388')
193    ('-13.133897 ', '27.849332')
194    ('-19.015438 ', '29.154857')
Name: coordinates, Length: 195, dtype: object

In [36]:
df_union[['latitude', 'longitude']] = df_union['coordinates'].str.split(', ', n=1, expand=True)

In [38]:
df_union.drop(['coordinates'], axis=1, inplace=True)

In [39]:
df_union.head(1)

,country,densityp/km2),abbreviation,agricultural_land_%),land_areakm2),armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_%),currency-code,fertility_rate,forested_area_%),gasoline_price,gdp,gross_primary_education_enrollment_%),gross_tertiary_education_enrollment_%),infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_%),tax_revenue_%),total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",('33.93911 ','67.709953')

4- Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [48]:
columns_limpiar = ['unemployment_rate', 'total_tax_rate', 'out_of_pocket_health_expenditure','agricultural_land_%', 'cpi_change_%', 'forested_area_%', 'gross_primary_education_enrollment_%', 'gross_tertiary_education_enrollment_%', 'population_labor_force_participation_%', 'tax_revenue_%']

In [51]:
for col in columns_limpiar:
    df_union[col] = df_union[col].str.replace('%', '')

In [54]:
df_union

,country,densityp/km2,abbreviation,agricultural_land_%,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_%,currency-code,fertility_rate,forested_area_%,gasoline_price,gdp,gross_primary_education_enrollment_%,gross_tertiary_education_enrollment_%,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_%,tax_revenue_%,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,$0.70,"$19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,$1.36,"$15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,$0.28,"$169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",('28.033886 ','1.659626')
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,$1.51,"$3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,$0.97,"$94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90,VED,2.27,52.70,$0.00,"$482,359,318,768",97.20,79.30,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70,NaN,73.30,8.80,"25,162,368",('6.42375 ','-66.58973')
191,Vietnam,314,VN,39.30,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80,VND,2.05,48.10,$0.80,"$261,921,244,843",110.60,28.50,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40,19.10,37.60,2.01,"35,332,140",('14.058324 ','108.277199')
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,$0.92,"$26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",('15.552727 ','48.516388')
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,$1.40,"$23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",('-13.133897 ','27.849332')
194,Zimbabwe,38,ZW,41.90,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90,NaN,3.62,35.50,$1.34,"$21,440,758,800",109.90,10.00,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10,20.70,31.60,4.95,"4,717,305",('-19.015438 ','29.154857')

5- Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [55]:
columnas_dolar = ['gasoline_price', 'gdp', 'minimum_wage']

for col in columnas_dolar:
    df_union[col] = df_union[col].str.replace('$', '')

/tmp/ipykernel_12927/845254630.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_union[col] = df_union[col].str.replace('$', '')

In [56]:
df_union

,country,densityp/km2,abbreviation,agricultural_land_%,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_%,currency-code,fertility_rate,forested_area_%,gasoline_price,gdp,gross_primary_education_enrollment_%,gross_tertiary_education_enrollment_%,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_%,tax_revenue_%,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40%,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,1.36,"15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90%,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10%,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",('28.033886 ','1.659626')
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,1.51,"3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40%,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90,VED,2.27,52.70,0.00,"482,359,318,768",97.20,79.30,21.4,Caracas,72.1,125.0,0.01,Spanish,45.80%,1.92,"28,515,829",59.70,NaN,73.30,8.80,"25,162,368",('6.42375 ','-66.58973')
191,Vietnam,314,VN,39.30,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80,VND,2.05,48.10,0.80,"261,921,244,843",110.60,28.50,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40,19.10,37.60,2.01,"35,332,140",('14.058324 ','108.277199')
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,0.92,"26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",('15.552727 ','48.516388')
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,1.40,"23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,0.24,English,27.50%,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",('-13.133897 ','27.849332')
194,Zimbabwe,38,ZW,41.90,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90,NaN,3.62,35.50,1.34,"21,440,758,800",109.90,10.00,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10,20.70,31.60,4.95,"4,717,305",('-19.015438 ','29.154857')

6- Guarda el DataFrame para usarlo en el pairprogramming de ma√±ana.

In [57]:
df_union.to_csv('files/world_data_2023_union.csv')

**Ejercicios de Filtrado**

1- Encuentra todos los pa√≠ses cuya mortalidad infantil est√© entre 40 y 50 personas por kil√≥metro cuadrado.

In [60]:
df_mortalidad = df_union[df_union['infant_mortality'].between(40, 50, inclusive = "both" )]
df_mortalidad

,country,densityp/km2,abbreviation,agricultural_land_%,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_%,currency-code,fertility_rate,forested_area_%,gasoline_price,gdp,gross_primary_education_enrollment_%,gross_tertiary_education_enrollment_%,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_%,tax_revenue_%,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40%,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",('33.93911 ','67.709953')
26,Burkina Faso,76,BF,44.20,"274,200","11,000",37.93,226.0,Ouagadougou,"3,418",106.58,-3.20,XOF,5.19,19.30,0.98,"15,745,810,235",96.10,6.50,49.0,Ouagadougou,61.2,320.0,0.34,French,36.10%,0.08,"20,321,378",66.40,15.00,41.30,6.26,"6,092,349",('12.238333 ','-1.561593')
27,Burundi,463,BI,79.20,"27,830","31,000",39.01,257.0,Bujumbura,495,182.11,-0.70,BIF,5.41,10.90,1.21,"3,012,334,882",121.40,6.10,41.0,Bujumbura,61.2,548.0,NaN,Kirundi,19.10%,0.10,"11,530,580",79.20,13.60,41.20,1.43,"1,541,177",('-3.373056 ','29.918886')
47,Djibouti,43,DJ,73.40,"23,200","13,000",21.47,253.0,Djibouti City,620,120.25,3.30,DJF,2.73,0.20,1.32,"3,318,716,359",75.30,5.30,49.8,Djibouti City,66.6,248.0,NaN,French,20.40%,0.22,"973,560",60.20,NaN,37.90,10.30,"758,549",('11.825138 ','42.590275')
72,Haiti,414,HT,66.80,"27,750",0,24.35,509.0,Port-au-Prince,"2,978",179.29,12.50,HTG,2.94,3.50,0.81,"8,498,981,821",113.60,1.10,49.5,Port-au-Prince,63.7,480.0,0.25,French,36.30%,0.23,"11,263,077",67.20,NaN,42.70,13.78,"6,328,948",('18.971187 ','-72.285215')
89,Kiribati,147,KI,42.00,811,NaN,27.89,686.0,South Tarawa,66,99.55,0.60,AUD,3.57,15.00,NaN,"194,647,202",101.30,NaN,41.2,South Tarawa,68.1,92.0,NaN,English,0.20%,0.20,"117,606",NaN,22.00,32.70,NaN,"64,489",('1.8368976 ','-157.3768317')
125,Niger,19,NE,36.10,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",109.32,-2.50,XOF,6.91,0.90,0.88,"12,928,145,120",74.70,4.40,48.0,Niamey,62.0,509.0,0.29,French,52.30%,0.04,"23,310,715",72.00,11.80,47.20,0.47,"3,850,231",('17.607789 ','8.081666')
166,Sudan,25,SD,28.70,"1,861,484","124,000",32.18,249.0,Khartoum,"20,000","1,344.19",51.00,SDG,4.41,8.10,0.95,"18,902,284,476",76.80,16.90,42.1,Omdurman,65.1,295.0,0.41,Arabic,63.20%,0.26,"42,813,238",48.40,8.00,45.40,16.53,"14,957,233",('12.862807 ','30.217636')
175,Togo,152,TG,70.20,"56,785","10,000",33.11,228.0,LomÔøΩ,"3,000",113.3,0.70,XOF,4.32,3.10,0.71,"5,459,979,417",123.80,14.50,47.4,LomÔøΩ,60.8,396.0,0.34,French,51.00%,0.08,"8,082,366",77.60,16.90,48.20,2.04,"3,414,638",('8.619543 ','0.824782')
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,0.92,"26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",('15.552727 ','48.516388')
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,1.40,"23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,0.24,English,27.50%,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",('-13.133897 ','27.849332')

2- Encuentra los pa√≠ses cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 a√±os.

3- Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

4- Encuentra los pa√≠ses cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

5- Encuentra los pa√≠ses cuyatasa de fertilidad sea mayor a 6.

6- Encuentra los pa√≠ses cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

7- Encuentra los pa√≠ses cuyas tasas de mortalidad infantil son superiores a 70.